@model WebApp.Models.Post

<br />

<div class="row">
	<div class="col-md-3">
		@{
			var str = Model.PostMetas.Where(m => m.MetaKey == "img_thumbnail").Single();
			<img src="@str.MetaValue" alt="" style="width:100%;" />
		}
	</div>
	<div class="col-md-9">
		<div class="single post">
			<div class="post-header">
				<h3>@Html.DisplayFor(model => model.PostTitle)</h3>
			</div>
			<div class="post-meta">
				<p>
					@Html.DisplayFor(model => model.User.UserName) |
					@Html.DisplayFor(model => model.PostRelease) |
					@Html.DisplayFor(model => model.CommentCount) Comments
				</p>
			</div>

			<div class="post-content">
				<div id="post-hid"><pre>@Html.Raw(Model.PostContent)</pre></div>
				<div id="post-txt"></div>
			</div>
		</div>
	</div>
</div>

<p>
	@Html.ActionLink("Back to List", "Index")
</p>