@model PagedList.IPagedList<WebApp.Models.Post>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Posts</h2>

<div class="row option-bar">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
		<button><i class="fa fa-th-list"></i></button>
		<button><i class="fa fa-th-large"></i></button>
	</div>
	@using (Html.BeginForm())
	{
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
			<div class="dropdown">
				<button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i></button>
				<ul class="dropdown-menu">
					<li>@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
					<li>@Html.ActionLink("Post Modified", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
			@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	}
</div>

<div class="row card-list">
	@foreach (var item in Model)
	{
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			<div class="card">
				@{
					var src = "";
					try
					{
						var str = item.PostMetas.Where(m => m.MetaKey == "img_thumbnail").Single();
						src = str.MetaValue;
					}
					catch
					{

					}

					<img src="@src" alt="" style="width:100%;" />
				}
				<div class="card-header">
					@Html.ActionLink(item.PostTitle, "Details", new { id = item.PostID })
				</div>
				<div class="card-content">

				</div>
				<div class="card-meta">
					<small>@Html.DisplayFor(modelItem => item.PostModified)</small>
					<br />
					<span>@Html.DisplayFor(modelItem => item.CommentCount) Comments</span>
				</div>
			</div>			
		</div>
	}		
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber ) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))