@model PagedList.IPagedList<WebApp.Models.Post>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
		<div class="dropdown">
			<button class="dropdown-toggle" data-toggle="dropdown">Filter</button>
			<ul class="dropdown-menu">
				<li>@Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
				<li>@Html.ActionLink("Post Modified", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
			</ul>
		</div>
    </p>
}

<div class="row card-list">
	@foreach (var item in Model)
	{
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			<div class="card">
				<div class="card-header">
					@Html.ActionLink(item.PostTitle, "Details", new { id = item.PostID })
				</div>
				<div class="card-content">

				</div>
				<div class="card-meta">
					<p>@Html.DisplayFor(modelItem => item.PostModified)</p>
					<p>@Html.DisplayFor(modelItem => item.CommentCount)</p>
				</div>
			</div>			
		</div>
	}		
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber ) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))