@model WebApp.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostRelease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
