@model WebApp.Models.Post

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Post</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.PostID)
		<div class="tab">
			<div class="form-group">
				@Html.LabelFor(model => model.PostTitle, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.PostTitle, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.PostTitle, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.PostContent, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<textarea class="form-control text-box multi-line valid" id="PostContent" name="PostContent" rows="10">@Model.PostContent</textarea>
					@Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2 col-md-2" for="fb">Thumbnail Image</label>
				<div class="col-sm-10 col-md-10">
					<p class="clickMe btn-media">Choose Image</p>
					<img id="img-thumbnail" src="@ViewBag.Thumbnail" />
					<input id="thumbnail" name="thumbnail" type="text" value="@ViewBag.Thumbnail" hidden />
					<div id='myModal' class='modal'>
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="row">
									<div class="col-sm-2">

									</div>
									<div class="col-sm-10">
										<form action="/" name="frm-media-upload" id="frm-upload" method="post" enctype="multipart/form-data">
											<input type="file" name="files" id="files" multiple />
											<br />
											<button id="btn-upload" type="submit">Upload</button>
										</form>
										<div class="media">
											<input class="media-search" type="text" />
											<ul class="media-gallery"></ul>
											<div class="media-option-bar">
												<p id="btn-select" class="btn-media">Select</p>
												<p id="btn-cancel" class="btn-media">Cancel</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>

		<hr />

		<div class="tab">
			<div class="form-group">
				@Html.LabelFor(model => model.PostFormat, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EnumDropDownListFor(model => model.PostFormat, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.PostFormat, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.PostStatus, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EnumDropDownListFor(model => model.PostStatus, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.PostStatus, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.CommentStatus, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EnumDropDownListFor(model => model.CommentStatus, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.CommentStatus, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Save" class="btn btn-default" />
				</div>
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
