@model WebApp.Models.User
@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>User</h4>
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.UserID)

	<div class="tab">
		<h3>Basic Informations</h3>
		<div class="form-group">
			@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input class="form-control text-box single-line" id="UserName" name="UserName" type="text" value="@Model.UserName" disabled />
				@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.UserPass, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.UserPass, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.UserPass, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2" for="fb">
				Avatar
			</label>
			<div class="col-sm-10 col-md-10">
				<p class="clickMe btn-media">Choose Image</p>
				<img id="img-upload" src="@ViewBag.Avatar" />
				<input id="upload" name="upload" type="text" value="@ViewBag.Avatar" hidden />
				<div id='myModal' class='modal'>
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="row">
								<div class="col-sm-2">

								</div>
								<div class="col-sm-10">
									<iframe id="ifrm" src="/Admin/Upload/Upload"></iframe>
									<div class="media">
										<input class="media-search" type="text" />
										<ul class="media-gallery"></ul>
										<div class="media-option-bar">
											<p id="btn-select" class="btn-media">Select</p>
											<p id="btn-cancel" class="btn-media">Cancel</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>

	<hr />

	<div class="tab">
		<h3>Personal Informations</h3>
		<div class="form-group">
			@Html.LabelFor(model => model.UserBio, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.UserBio, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.UserBio, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
	<hr />
	<div class="tab">
		<h3>Social Links</h3>
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2" for="fb">
				<i class="fa fa-facebook"></i>
			</label>
			<div class="col-sm-10 col-md-10">
				<input class="form-control text-box single-line" id="fb" name="fb" type="text" value="@ViewBag.fb" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2" for="yt">
				<i class="fa fa-youtube-play"></i>
			</label>
			<div class="col-sm-10 col-md-10">
				<input class="form-control text-box single-line" id="yt" name="yt" type="text" value="@ViewBag.yt" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2" for="ins">
				<i class="fa fa-instagram"></i>
			</label>
			<div class="col-sm-10 col-md-10">
				<input class="form-control text-box single-line" id="ins" name="ins" type="text" value="@ViewBag.ins" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2" for="web">
				<i class="fa fa-globe"></i>
			</label>
			<div class="col-sm-10 col-md-10">
				<input class="form-control text-box single-line" id="web" name="web" type="text" value="@ViewBag.web" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
	<hr />
</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>