<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Web App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	@Styles.Render("~/Content/css")
	@Styles.Render("~/User/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Web App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Posts", "Index", "Post")</li>
					<li>@Html.ActionLink("Products", "Index", "Product")</li>
					<li>@Html.ActionLink("Users", "Index", "User")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<footer class="">
			<p>&copy; @DateTime.Now.Year - Web App - Kiet.Nguyen</p>
			@Html.ActionLink("Home", "Index", "Home") |
			@Html.ActionLink("About", "About", "Home") |
			@Html.ActionLink("Contact", "Contact", "Home")
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/index")
	@RenderSection("scripts", required: false)
</body>
</html>
