@model PagedList.IPagedList<WebApp.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<div class="row option-bar">
	<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
		<button><i class="fa fa-th-list"></i></button>
		<button><i class="fa fa-th-large"></i></button>
	</div>
	@using (Html.BeginForm())
	{
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<div class="dropdown">
				<button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i> Filter</button>
				<ul class="dropdown-menu">
					<li>@Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
					<li>@Html.ActionLink("Product Modified", "Index", new { sortOrder = ViewBag.DateSortParm })</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	}
</div>

<div class="row card-list">
	@foreach (var item in Model)
	{
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class="card">
				<div class="card-header">
					<h2>@Html.ActionLink(item.ProductName, "Details", new { id = item.ProductID })</h2>
				</div>
				<div class="card-content">
					<p class="title">$@Html.DisplayFor(modelItem => item.Price)</p>
					<p>@Html.DisplayFor(modelItem => item.ProductInfo)</p>
				</div>
				<div class="card-meta">
					<p>@Html.DisplayFor(modelItem => item.ProductModified)</p>
				</div>
				@{
					string status = "";
					if (item.ProductStatus.ToString() == "SoldOut")
					{
						status = "soldout";
					}
					else
					{
						status = "available";
					}

					<p class="@status">@Html.DisplayFor(modelItem => item.ProductStatus)</p>
				}
			</div>
		</div>
	}
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber ) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))