@model PagedList.IPagedList<WebApp.Models.User>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
		<div class="dropdown">
			<button class="dropdown-toggle" data-toggle="dropdown">Filter</button>
			<ul class="dropdown-menu">
				<li>@Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</li>
				<li>@Html.ActionLink("User Registered", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</li>
			</ul>
		</div>
    </p>
}

<div class="row card-list">
	@foreach (var item in Model)
	{
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class="card">
				@{
					string src = "/Images/Avatar/team" + @item.UserID + ".jpg";
					<img src="@src" alt="" style="width: 100%" />
				}
				<div class="cart-header">
					<h2>@Html.ActionLink(item.UserName, "Details", new { id = item.UserID })</h2>
				</div>
				<div class="cart-content">
					<p class="title"></p>
					<p>@Html.DisplayFor(modelItem => item.UserBio)</p>
					<p>@Html.DisplayFor(modelItem => item.Email)</p>
				</div>
				<div class="cart-meta">
					<p>@Html.DisplayFor(modelItem => item.UserRelease)</p>
					<p>@Html.DisplayFor(modelItem => item.Links)</p>
				</div>
				<p><button>Contact</button></p>
			</div>			
		</div>
	}
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber ) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))